<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p> Analytical Cybersecurity Professional with a strong foundation in physics and full-stack software engineering. 
          Adaptable and goal-oriented, with practical experience in threat detection, log analysis, and automated vulnerability assessments. 
          Proven capability in configuring complex environments, auditing script logic, and solving technical problems under pressure, 
          whether collaborating within a security team or managing projects independently. </p>
        <!-- Cybersecurity is a natural fit for me because I enjoy problem-solving and working with technology. With experience in Python, SQL, and troubleshooting, I analyze data, identify vulnerabilities, and improve security processes. Having encountered phishing attempts firsthand, I understand the importance of strong security measures. While I continue to build my expertise, my technical skills and commitment to mitigating risks and upholding integrity allow me to contribute to protecting systems and users. I’m excited to apply my knowledge to help organizations strengthen their digital defenses and enhance cybersecurity awareness.-->
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
  <p>
    <strong>Languages:</strong> Python, SQL<br>
    <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (Wireshark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
    <strong>Security Practices:</strong> Threat Detection, Log Analysis, Vulnerability Assessment, Network Security (NDR), Security Frameworks &amp; Controls (NIST)<br>
    <strong>Software Platforms:</strong> Google Workspace, GitHub, Microsoft Suite, Slack<br>
    <strong>Strengths:</strong> Technical Troubleshooting, Analytical Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure
  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
     <!--   <a href="https://drive.google.com/file/d/1L0JjFulMLZM76G6e-qStRxrLL8wPl1mk/view?usp=sharing" class="btn btn-lg btn-outline resume-button">
          View Resume 
        
        </a> -->
      </div>
    </div>
  </div>
</section>
